/env
/02691156
/models
/square_rings_objs
/pics
/__pycache__
/square_rings_vox
/square_rings_vox_64
/square_rings_vox_256
/point_sampling/tmp
/point_sampling/square_rings
/point_sampling/square_rings_dataset
/IMGAN/data/square_rings_vox16_img_train.hdf5
/IMGAN/data/square_rings_vox16_img_test.hdf5
