/env
/02691156
/models
/square_rings_objs
/pics
/__pycache__
/square_rings_vox
/square_rings_vox_64
/square_rings_vox_256
/point_sampling/tmp
/point_sampling/square_rings
/point_sampling/square_rings_dataset
/IMGAN/__pycache__
/IMGAN/checkpoint
/IMGAN/samples
/IMGAN/samples_1
/IMGAN/data/
/point_sampling/tmp_old
/point_sampling/square_rings_old
/point_sampling/square_rings_dataset_old
/point_sampling/square_rings_batch_size_2048
/point_sampling/square_rings_dataset_batch_size_2048
/point_sampling/tmp_batch_size_2048
/IMGAN/checkpoint_laten_4
/IMGAN/checkpoint_latent_8
/IMGAN/checkpoint_working_version
/IMGAN/data_bad
/IMGAN/data_good_till_last_step
/IMGAN/samples_2
/IMGAN/samples_latent_8
/IMGAN/samples_latent_8_2
/IMGAN/samples_latent_16_good
/result_latent_4
/result_latent_16
/IMGAN/data_too_small_bad
/IMGAN/data_batch_size_2048
/result_batch_size_4096_latent_2
/result_batch_size_4096_latent_32
/point_sampling/square_rings_batch_size_4096
/point_sampling/square_rings_dataset_batch_size_4096
/IMGAN/disc_loss_1.npy
/IMGAN/disc_loss.npy
/IMGAN/gen_loss_1.npy
/IMGAN/gen_loss.npy
/IMGAN/z_gen.png
/IMGAN/z_train.png
/gen_square_rings_vox_64
/deprecated
/generated_sampled_coors.npy
/truth_sampled_coors.npy
/results_latent_32
/results_latent_32.zip